* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: hsla(0, 100%, 20%, 0.473);
    font-family: Montserrat, sans-serif;


}

.header {
    width: 100%;
}

.navbar {
    background-color: hsl(263, 100%, 15%);
}

.navbar ul a{
    display: inline-block;
    padding: 1rem 2.5rem;
    list-style: none;
    text-decoration: none;
    color: seashell;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.main .banner {
    text-align: center;
    height: 20rem;
}

.banner h1 {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    color: hsl(0, 100%, 20%);
    background-color: hsla(0, 100%, 20%, 0.473);
}

.summary {
    padding-bottom: 5rem;
}

.summary h2 {
    color: hsl(55, 100%, 43%);
    padding-bottom: .5rem;
}

.summary p {
    line-height: 1.5rem;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.photos img {
    flex: 1 1 18rem;
    max-width: 25rem;
    padding: 0.5rem;
}

.testimonial {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: hsl(263, 100%, 15%);
    color: hsl(55, 100%, 43%);
    line-height: 2rem;
}

.testimonial div {
    width: 90%;
    margin-left:5%;
    padding: 2rem 0 6rem;
}

.photos.bottom {
    margin-top: 15rem;
}

.meetup {
    text-align: center;
    color: hsl(55, 100%, 43%);
}

.meetup img {
    width: 40rem;
    height: 50rem;
    object-fit: cover;
    object-position: 20% 10%;
}

.meetup h1 {
    padding: 1rem 0;
}

.footer {
    width: 100%;
}

@media only screen and (min-width: 1400px) {
    .photos img {
        max-width: 40%;
    }
}